.subpanel{
    padding: 8px 10px 10px 13px;
    border-radius: 3px;
    border: solid 1px var(--color-1e2136);
    background-color:var(--color-ffffff0a);
    color: #fff;
}

.tbl{
    color: #fff;
    font-size: 12px;
    font-family: var(--font-ibm);
}
.tblrow{
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
    user-select: none;
}

.tbl .tblth,
.tbl .tbltd{
    padding: 8px 4px;
    flex: 1;
    line-height: 1.5;
    text-align: right;
}
.tbl .tblth{
    padding: 8px 4px;
}

.tbl .tblthead{
    border-bottom: 1px solid #232842;
}
.tbl .tblth{
    color: #8d90b0;
    font-weight: 500;
}

.tbl .tbltbody{
    padding-top: 2px;
}

.tbl .txtmute,
.tbl .date_cell{
    color: #8d90b0;
}

.tbl .side_cell,
.tbl .pair_cell,
.tbl .type_cell{
    text-align: left;
}

.tbl .side_cell{
    max-width: 35px;
}

.tbl .pair_cell{
    max-width: 100px;
}
.tbltd.pair_cell{
    font-size: 15px;
    font-weight: 700;
    font-family: var(--font-ibm);
}
.tbl .type_cell{
    max-width: 50px;
}
.tbl .price_cell{
    padding-right: 15px;
    /* max-width: 115px; */
}

.tbl .filled_cell{
    text-align: left;
    padding-left: 30px;
    font-weight: 500;
}
.tbl .action_cell{
    max-width: 55px;
}

.tbl .status_cell{
    max-width: 105px;
}

.btn_cancel{
    background: none;
    border: 0;
    position: relative;
    width: 12px;
    height: 12px;
}


