.accordiansstyle{
    max-width: 1320px;
    width: 100%;
    padding: 29px 49px 28px 31px;
    border-radius: 20px;
    background-color: #eef2ff;
    position: relative;
}
.acchead{
    display: flex;
    align-items: baseline;    
}
.accordiansstyle p{
    background-image: linear-gradient(136deg, #1753fc, #e1587d 100%);
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding-right:28px;
}
.accordiansstyle h5{
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #22262e;
    margin: 0;
}
.accordiansstyle span{
    display: block;
    position: absolute;
    right: 48px;
    top: 32px;
}
