/* .emailtext p{
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #c5c5c5;
}
.emailtext p span{
    color: #85919c;
} */
/* .emailtext{
    text-align: center;
} */
/* .inputcon div input{
    max-width: 400px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 60;
    letter-spacing: normal;
    text-align: center;
    color: #7f7f7f;
    padding: 0px 8px 0px 37px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #f5f5f5;
    background-color: #f5f9ff;
    text-align: left;  
    outline: 0;
}
.inputcon div span{
    background-color: #2072ef;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #2072ef;
    position: absolute;
    right: 6px;
    top: 10px;
}
.inputcon div {
    position: relative;
}
.inputcon div span img{
    width: 16px;
    height: 16px;
    position: relative;
    top: 10px;
} */
/* .pb98{
    padding-bottom: 98px;
  } */
  /* .containerabout{
    max-width: 400px;
    width: 100%;
    padding: 0 180px;
    margin: 0 auto;
  } */
   