/* .ordertble thead{
    border-bottom: none;
}
.ordertble thead tr th{
    background-color: white;
    text-align: left;
    font-size: 12px;
    color: #777e91;
    font-weight: 500;
    padding: 25px 15px 9px;
}
.ordertble tbody tr td{
    padding:12px 8px 12px 16px;
    font-size: 14px;
    color: var(--color-dark1);
    letter-spacing: 0.8px;
    text-align: left;
    font-weight: 500;
}
.ordertble thead tr th:nth-child(1){
    width: 194px;
}
.ordertble thead tr th:nth-child(2){
    width: 132px;
}
.ordertble thead tr th:nth-child(3){
    width: 329px;
}
.ordertble thead tr th:nth-child(4){
    width: 179px;
}
.ordertble thead tr th:nth-child(5){
    width: 226px;
    text-align: right;
}

.ordertble tbody tr td:nth-child(2){
    font-weight: bold;
}
.ordertble thead tr th:nth-child(6){
    width: 207.31px;
    text-align: right;
}
.ordertble thead tr th:nth-child(7){
    width: 164.38px;
    text-align: right;
}
.ordertble tbody tr td:nth-child(5),
.ordertble tbody tr td:nth-child(6),
.ordertble tbody tr td:nth-child(7){
    text-align: right;
}

.ordertble tbody tr:nth-child(odd){
    background-color: #f6faff;
}
.ordertble tbody tr:nth-child(even){
    background-color: transparent;
}
.ordertble tbody tr:hover{
    background-color: rgba(0,200,150,.04);
}
.ordertble tbody tr td:nth-child(3) span img{
    margin-right: 16px;
} */
/* .ordertble tbody tr td:nth-child(4) span{
    color: red;
} */
/* .colorsuccess{
    color: var(--color-success);
}
.colordanger{
    color: var(--color-danger);
}
.lighttxt{
    color: var(--brown-grey);
} */
@media only screen and (max-width: 1600px) {
    .ordertble tbody tr td{
        font-size: 13px;
        letter-spacing: 0.5px;
    }
  }